*.w3x
.gradle
/origin/*.w3x
*.sublime-project
*.sublime-workspace
*.w3o
*.dll
*.blp
*.mdx
*.mp3
*.wav
*.doo
*.w3e
*.tga
*.shd
*.wpm
*.w3e
*.doo
*.ttf
*.w3s
/UnitTestMap/*
/OriginMap/map/war3map.j
/ModelTest/*
/Tools/*
/abandon/
.vscode/tasks.json