*.w3x
.gradle
/origin/*.w3x
*.sublime-project
*.sublime-workspace
*.w3o
*.dll
*.blp
*.mdx
*.mp3
*.wav
*.doo
*.w3e
*.tga
*.shd
*.wpm
*.w3e
*.doo
*.ttf
*.w3s
/UnitTestMap/*
/OriginMap/map/war3map.j
/ModelTest/*
/Tools/*
/abandon/
.vscode/tasks.json
/output/
.linked/
# 忽略 macOS 自动生成的 .DS_Store 文件
.DS_Store

# 忽略 Excel 打开时生成的临时文件 (以 ~$ 开头)
~$*.xlsx
~$*.xls
~$*.xlsm

# 忽略 Excel 启用宏的工作簿文件 (.xlsm)
*.xlsm